# Importing Packages

In [137]:
import os
from pytse_client.download import download_financial_indexes
import pandas as pd
import jalali_pandas
import math
import numpy as np

# Path

In [2]:
desktop = os.path.join(os.path.join(os.path.expanduser('~')), 'Desktop') 
industry_indices = os.path.join(desktop, "industry_indices")

# Config

In [3]:
limit = 3000

# Functions

In [71]:
def return_calculator(df):
    period_return = 1
    li = list(df)
    for day, _ in df.iteritems():
        idx = df.index.get_loc(day)
        elem = li[idx]
        if (math.isnan(elem)):
            elem = outlier_handler(elem)
            if elem == False:
                continue
        period_return = period_return * (1+elem)
    period_return = period_return - 1
    return period_return

def outlier_handler(ret):
    if (math.isnan(ret)):
        return False

In [4]:
download_financial_indexes(symbols="all", write_to_csv=True, base_path=industry_indices)

{'غذايي بجز قند':         value       date
 0       308.0 2008-12-05
 1       307.5 2008-12-06
 2       307.6 2008-12-07
 3       307.6 2008-12-08
 4       307.6 2008-12-10
 ...       ...        ...
 3392  49146.3 2022-12-21
 3393  50625.3 2022-12-24
 3394  51353.5 2022-12-25
 3395  51657.3 2022-12-26
 3396  53052.3 2022-12-28

 [3397 rows x 2 columns],
 'انبوه سازي':        value       date
 0      245.0 2008-12-05
 1      245.0 2008-12-06
 2      245.1 2008-12-07
 3      245.1 2008-12-08
 4      245.1 2008-12-10
 ...      ...        ...
 3392  7295.0 2022-12-21
 3393  7440.7 2022-12-24
 3394  7478.7 2022-12-25
 3395  7574.5 2022-12-26
 3396  7767.5 2022-12-28

 [3397 rows x 2 columns],
 'چند رشته اي ص':          value       date
 0        689.7 2008-12-05
 1        688.9 2008-12-06
 2        686.6 2008-12-07
 3        684.8 2008-12-08
 4        684.0 2008-12-10
 ...        ...        ...
 3392  204545.0 2022-12-21
 3393  210403.0 2022-12-24
 3394  212926.0 2022-12-25
 3395  213733.0 2022-12-26
 3396  223500.0 2022-12-28

 [3397 rows x 2 columns],
 'راديويي':        value       date
 0      111.5 2008-12-05
 1      111.5 2008-12-06
 2      111.5 2008-12-07
 3      111.5 2008-12-08
 4      111.5 2008-12-10
 ...      ...        ...
 3392  4580.4 2022-12-21
 3393  4692.2 2022-12-24
 3394  4709.2 2022-12-25
 3395  4687.2 2022-12-26
 3396  4809.7 2022-12-28

 [3397 rows x 2 columns],
 'وسايل ارتباطي':         value       date
 0       229.1 2008-12-05
 1       229.1 2008-12-06
 2       229.1 2008-12-07
 3       229.1 2008-12-08
 4       229.1 2008-12-10
 ...       ...        ...
 3392  40561.0 2022-12-21
 3393  42038.4 2022-12-24
 3394  42837.8 2022-12-25
 3395  42457.9 2022-12-26
 3396  43655.4 2022-12-28

 [3397 rows x 2 columns],
 'حمل و نقل':         value       date
 0       972.3 2008-12-05
 1       964.2 2008-12-06
 2       962.2 2008-12-07
 3       961.5 2008-12-08
 4       961.4 2008-12-10
 ...       ...        ...
 3392  40405.5 2022-12-21
 3393  41646.0 2022-12-24
 3394  42447.2 2022-12-25
 3395  43966.1 2022-12-26
 3396  45924.7 2022-12-28

 [3397 rows x 2 columns],
 'شاخص بازار دوم':           value       date
 0       12798.9 2008-12-04
 1       12798.9 2008-12-05
 2       12773.2 2008-12-06
 3       12768.7 2008-12-07
 4       12703.8 2008-12-08
 ...         ...        ...
 3393  2921430.0 2022-12-21
 3394  2988280.0 2022-12-24
 3395  3036220.0 2022-12-25
 3396  3067480.0 2022-12-26
 3397  3178030.0 2022-12-28

 [3398 rows x 2 columns],
 'انتشار و چاپ':          value       date
 0       7854.6 2008-12-05
 1       7854.6 2008-12-06
 2       7854.6 2008-12-07
 3       7854.6 2008-12-08
 4       7854.6 2008-12-10
 ...        ...        ...
 3392  868239.0 2022-12-21
 3393  909040.0 2022-12-24
 3394  943657.0 2022-12-25
 3395  949626.0 2022-12-26
 3396  986495.0 2022-12-28

 [3397 rows x 2 columns],
 'سرمايه گذاريها':         value       date
 0       234.3 2008-12-05
 1       234.3 2008-12-06
 2       234.1 2008-12-07
 3       234.1 2008-12-08
 4       233.5 2008-12-10
 ...       ...        ...
 3392  24231.7 2022-12-21
 3393  24457.9 2022-12-24
 3394  24510.5 2022-12-25
 3395  24551.8 2022-12-26
 3396  24842.3 2022-12-28

 [3397 rows x 2 columns],
 'اداره بازارهاي مالي':        value       date
 0       96.0 2016-12-24
 1       94.7 2016-12-25
 2       89.9 2016-12-26
 3       86.7 2016-12-27
 4       82.9 2016-12-28
 ...      ...        ...
 1446  1425.6 2022-12-21
 1447  1446.8 2022-12-24
 1448  1449.4 2022-12-25
 1449  1446.9 2022-12-26
 1450  1476.1 2022-12-28

 [1451 rows x 2 columns],
 'كاشي و سراميك':         value       date
 0       289.7 2008-12-05
 1       287.9 2008-12-06
 2       286.3 2008-12-07
 3       285.3 2008-12-08
 4       285.3 2008-12-10
 ...       ...        ...
 3392  47679.4 2022-12-21
 3393  48159.9 2022-12-24
 3394  48532.6 2022-12-25
 3395  49128.8 2022-12-26
 3396  50522.0 2022-12-28

 [3397 rows x 2 columns],
 'ماشين آلات':          value       date
 0       2163.5 2008-12-05
 1       2163.5 2008-12-06
 2       2160.6 2008-12-07
 3       2157.7 2008-12-08
 4       2155.9 2008-12-10
 ...        ...        ...
 3392  237682.0 2022-12-21
 3393  243534.0 2022-12-24
 3394  242486.0 2022-12-25
 3395  240903.0 2022-12-26
 3396  246462.0 2022-12-28

 [3397 rows x 2 columns],
 'اطلاعات و ارتباطات':       value       date
 0     115.7 2017-09-18
 1     121.5 2017-09-19
 2     127.5 2017-09-20
 3     133.9 2017-09-23
 4     140.6 2017-09-24
 ...     ...        ...
 1269  900.8 2022-12-21
 1270  908.8 2022-12-24
 1271  908.6 2022-12-25
 1272  896.4 2022-12-26
 1273  911.7 2022-12-28

 [1274 rows x 2 columns],
 'شاخص قيمت(وزنيارزشي)':          value       date
 0       9248.9 2008-12-04
 1       9247.5 2008-12-05
 2       9176.9 2008-12-06
 3       9129.0 2008-12-07
 4       9087.9 2008-12-08
 ...        ...        ...
 3395  340915.0 2022-12-21
 3396  350439.0 2022-12-24
 3397  356260.0 2022-12-25
 3398  359184.0 2022-12-26
 3399  375342.0 2022-12-28

 [3400 rows x 2 columns],
 'رايانه':         value       date
 0       207.4 2008-12-05
 1       207.4 2008-12-06
 2       207.3 2008-12-07
 3       212.4 2008-12-08
 4       217.6 2008-12-10
 ...       ...        ...
 3392  62526.2 2022-12-21
 3393  63138.0 2022-12-24
 3394  63128.3 2022-12-25
 3395  63286.0 2022-12-26
 3396  64083.9 2022-12-28

 [3397 rows x 2 columns],
 'محصولات فلزي':          value       date
 0       1244.2 2008-12-05
 1       1244.2 2008-12-06
 2       1244.2 2008-12-07
 3       1244.2 2008-12-08
 4       1244.2 2008-12-10
 ...        ...        ...
 3392  151037.0 2022-12-21
 3393  154117.0 2022-12-24
 3394  157321.0 2022-12-25
 3395  157792.0 2022-12-26
 3396  162555.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص بازده نقدي قيمت':           value       date
 0       37629.6 2008-12-04
 1       37629.6 2008-12-05
 2       37342.4 2008-12-06
 3       37147.9 2008-12-07
 4       36979.8 2008-12-08
 ...         ...        ...
 3340  6014560.0 2022-12-21
 3341  6183900.0 2022-12-24
 3342  6286850.0 2022-12-25
 3343  6337430.0 2022-12-26
 3344  6622840.0 2022-12-28

 [3345 rows x 2 columns],
 'كانه فلزي':          value       date
 0       1957.3 2008-12-05
 1       1935.8 2008-12-06
 2       1911.4 2008-12-07
 3       1911.3 2008-12-08
 4       1866.6 2008-12-10
 ...        ...        ...
 3392  417977.0 2022-12-21
 3393  428632.0 2022-12-24
 3394  446173.0 2022-12-25
 3395  458300.0 2022-12-26
 3396  482233.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص آزاد شناور':           value       date
 0        1145.3 2009-06-29
 1        1147.5 2009-06-30
 2        1154.9 2009-07-01
 3        1154.1 2009-07-04
 4        1152.0 2009-07-05
 ...         ...        ...
 3257  1952930.0 2022-12-21
 3258  2007900.0 2022-12-24
 3259  2033720.0 2022-12-25
 3260  2041910.0 2022-12-26
 3261  2126540.0 2022-12-28

 [3262 rows x 2 columns],
 'شيميايي':          value       date
 0        336.2 2008-12-05
 1        330.8 2008-12-06
 2        329.5 2008-12-07
 3        319.8 2008-12-08
 4        315.9 2008-12-10
 ...        ...        ...
 3393  123401.0 2022-12-21
 3394  126387.0 2022-12-24
 3395  128948.0 2022-12-25
 3396  130324.0 2022-12-26
 3397  136633.0 2022-12-28

 [3398 rows x 2 columns],
 'پيمانكاري':       value       date
 0     327.9 2008-12-05
 1     327.2 2008-12-06
 2     327.5 2008-12-07
 3     327.7 2008-12-08
 4     328.1 2008-12-10
 ...     ...        ...
 3388  919.7 2022-12-24
 3389  919.7 2022-12-25
 3390  919.7 2022-12-26
 3391  919.7 2022-12-28
 3392  919.7 2022-12-31

 [3393 rows x 2 columns],
 'فني مهندسي':        value       date
 0       45.3 2008-12-05
 1       45.3 2008-12-06
 2       45.3 2008-12-07
 3       45.3 2008-12-08
 4       45.4 2008-12-10
 ...      ...        ...
 3392  5906.8 2022-12-21
 3393  5906.8 2022-12-24
 3394  5906.8 2022-12-25
 3395  6067.9 2022-12-26
 3396  6372.5 2022-12-28

 [3397 rows x 2 columns],
 'شاخص قيمت (هم وزن)':          value       date
 0      10000.0 2014-03-19
 1      10033.6 2014-03-25
 2       9998.3 2014-03-26
 3       9984.4 2014-03-29
 4      10055.5 2014-03-30
 ...        ...        ...
 2114  265324.0 2022-12-21
 2115  271603.0 2022-12-24
 2116  275447.0 2022-12-25
 2117  278007.0 2022-12-26
 2118  286119.0 2022-12-28

 [2119 rows x 2 columns],
 'مواد دارويي':          value       date
 0        485.2 2008-12-05
 1        484.9 2008-12-06
 2        484.7 2008-12-07
 3        484.3 2008-12-08
 4        483.9 2008-12-10
 ...        ...        ...
 3393  119674.0 2022-12-21
 3394  122826.0 2022-12-24
 3395  125102.0 2022-12-25
 3396  127106.0 2022-12-26
 3397  131967.0 2022-12-28

 [3398 rows x 2 columns],
 'شاخص قيمت 50 شركت':           value       date
 0       10111.1 2008-12-05
 1       10052.2 2008-12-06
 2       10010.4 2008-12-07
 3        9941.0 2008-12-08
 4        9869.9 2008-12-10
 ...         ...        ...
 3392  4013390.0 2022-12-21
 3393  4111910.0 2022-12-24
 3394  4188330.0 2022-12-25
 3395  4238730.0 2022-12-26
 3396  4483890.0 2022-12-28

 [3397 rows x 2 columns],
 'دستگاههاي برقي':           value       date
 0       23855.9 2008-12-05
 1       23808.9 2008-12-06
 2       23463.0 2008-12-07
 3       23301.3 2008-12-08
 4       23255.7 2008-12-10
 ...         ...        ...
 3392  4317990.0 2022-12-21
 3393  4428650.0 2022-12-24
 3394  4573590.0 2022-12-25
 3395  4633310.0 2022-12-26
 3396  4743030.0 2022-12-28

 [3397 rows x 2 columns],
 'سيمان':         value       date
 0       183.2 2008-12-05
 1       182.9 2008-12-06
 2       182.8 2008-12-07
 3       182.8 2008-12-08
 4       182.3 2008-12-10
 ...       ...        ...
 3392  11286.6 2022-12-21
 3393  11545.0 2022-12-24
 3394  11707.9 2022-12-25
 3395  11812.7 2022-12-26
 3396  12259.1 2022-12-28

 [3397 rows x 2 columns],
 'بيمه و بازنشسته':         value       date
 0         0.0 2009-10-07
 1      1029.9 2009-10-10
 2      1060.7 2009-10-11
 3      1092.5 2009-10-12
 4      1125.2 2009-10-13
 ...       ...        ...
 3187  69527.3 2022-12-21
 3188  70116.4 2022-12-24
 3189  70189.8 2022-12-25
 3190  70241.1 2022-12-26
 3191  72155.2 2022-12-28

 [3192 rows x 2 columns],
 'محصولات چوبي':          value       date
 0       4612.3 2008-12-05
 1       4612.3 2008-12-06
 2       4612.3 2008-12-07
 3       4612.3 2008-12-08
 4       4612.3 2008-12-10
 ...        ...        ...
 3392  568296.0 2022-12-21
 3393  572934.0 2022-12-24
 3394  577364.0 2022-12-25
 3395  574746.0 2022-12-26
 3396  586762.0 2022-12-28

 [3397 rows x 2 columns],
 'ابزار پزشكي':         value       date
 0       307.6 2008-12-05
 1       307.6 2008-12-06
 2       307.6 2008-12-07
 3       307.6 2008-12-08
 4       307.6 2008-12-10
 ...       ...        ...
 3393  10244.3 2022-12-24
 3394  10244.3 2022-12-25
 3395  10244.3 2022-12-26
 3396  10244.3 2022-12-28
 3397  10244.3 2022-12-31

 [3398 rows x 2 columns],
 'لاستيك':          value       date
 0       1921.9 2008-12-05
 1       1921.9 2008-12-06
 2       1921.9 2008-12-07
 3       1893.6 2008-12-08
 4       1892.6 2008-12-10
 ...        ...        ...
 3392  216866.0 2022-12-21
 3393  225778.0 2022-12-24
 3394  228013.0 2022-12-25
 3395  231725.0 2022-12-26
 3396  237055.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص بازار اول':           value       date
 0        7669.0 2008-12-04
 1        7669.0 2008-12-05
 2        7600.1 2008-12-06
 3        7551.6 2008-12-07
 4        7518.4 2008-12-08
 ...         ...        ...
 3393  1125190.0 2022-12-21
 3394  1161390.0 2022-12-24
 3395  1181260.0 2022-12-25
 3396  1188900.0 2022-12-26
 3397  1251250.0 2022-12-28

 [3398 rows x 2 columns],
 'فلزات اساسي':           value       date
 0        4214.0 2008-12-05
 1        4123.4 2008-12-06
 2        4070.2 2008-12-07
 3        4013.7 2008-12-08
 4        3930.0 2008-12-10
 ...         ...        ...
 3392  1005970.0 2022-12-21
 3393  1044420.0 2022-12-24
 3394  1058280.0 2022-12-25
 3395  1062050.0 2022-12-26
 3396  1126150.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص صنعت':           value       date
 0        7220.3 2008-12-05
 1        7160.5 2008-12-06
 2        7122.1 2008-12-07
 3        7089.8 2008-12-08
 4        7035.1 2008-12-10
 ...         ...        ...
 3392  1403540.0 2022-12-21
 3393  1444890.0 2022-12-24
 3394  1472280.0 2022-12-25
 3395  1486440.0 2022-12-26
 3396  1558320.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص50شركت فعالتر':         value       date
 0       372.3 2008-12-05
 1       367.8 2008-12-06
 2       364.2 2008-12-07
 3       361.5 2008-12-08
 4       356.1 2008-12-10
 ...       ...        ...
 3392  58529.9 2022-12-21
 3393  60289.9 2022-12-24
 3394  61414.9 2022-12-25
 3395  61968.8 2022-12-26
 3396  65140.4 2022-12-28

 [3397 rows x 2 columns],
 'كاني غيرفلزي':         value       date
 0       139.4 2008-12-05
 1       139.1 2008-12-06
 2       138.7 2008-12-07
 3       138.5 2008-12-08
 4       138.4 2008-12-10
 ...       ...        ...
 3392  40838.4 2022-12-21
 3393  42291.8 2022-12-24
 3394  43001.0 2022-12-25
 3395  43127.1 2022-12-26
 3396  44312.2 2022-12-28

 [3397 rows x 2 columns],
 'ساير معادن':          value       date
 0        816.1 2008-12-05
 1        816.1 2008-12-06
 2        816.1 2008-12-07
 3        816.1 2008-12-08
 4        816.1 2008-12-10
 ...        ...        ...
 3392  140565.0 2022-12-21
 3393  144071.0 2022-12-24
 3394  145514.0 2022-12-25
 3395  146456.0 2022-12-26
 3396  153113.0 2022-12-28

 [3397 rows x 2 columns],
 'سايرمالي':         value       date
 0       283.3 2008-12-05
 1       280.0 2008-12-06
 2       279.9 2008-12-07
 3       279.0 2008-12-08
 4       278.7 2008-12-10
 ...       ...        ...
 3392  11826.4 2022-12-21
 3393  12283.2 2022-12-24
 3394  12601.6 2022-12-25
 3395  12889.5 2022-12-26
 3396  13339.2 2022-12-28

 [3397 rows x 2 columns],
 'شاخص 30 شركت بزرگ':         value       date
 0      1220.1 2010-08-15
 1      1228.3 2010-08-16
 2      1242.6 2010-08-17
 3      1247.2 2010-08-18
 4      1237.4 2010-08-21
 ...       ...        ...
 2982  86486.0 2022-12-21
 2983  89643.8 2022-12-24
 2984  91191.3 2022-12-25
 2985  91597.6 2022-12-26
 2986  96735.9 2022-12-28

 [2987 rows x 2 columns],
 'خودرو':          value       date
 0       2654.2 2008-12-05
 1       2642.6 2008-12-06
 2       2643.7 2008-12-07
 3       2644.5 2008-12-08
 4       2647.2 2008-12-10
 ...        ...        ...
 3392  259789.0 2022-12-21
 3393  265324.0 2022-12-24
 3394  274800.0 2022-12-25
 3395  281496.0 2022-12-26
 3396  291818.0 2022-12-28

 [3397 rows x 2 columns],
 'خرده فروشي به جز وسايل نقليه':       value       date
 0     100.0 2019-02-16
 1     105.0 2019-02-17
 2     110.2 2019-02-18
 3     115.8 2019-02-19
 4     121.5 2019-02-20
 ..      ...        ...
 924  1273.7 2022-12-21
 925  1273.6 2022-12-24
 926  1272.1 2022-12-25
 927  1272.3 2022-12-26
 928  1272.6 2022-12-28

 [929 rows x 2 columns],
 'فراورده نفتي':           value       date
 0       19979.7 2008-12-05
 1       19374.7 2008-12-06
 2       18902.2 2008-12-07
 3       18902.0 2008-12-08
 4       18443.4 2008-12-10
 ...         ...        ...
 3392  6891700.0 2022-12-21
 3393  7253110.0 2022-12-24
 3394  7378760.0 2022-12-25
 3395  7379340.0 2022-12-26
 3396  7800410.0 2022-12-28

 [3397 rows x 2 columns],
 'تامين آب، برق، گاز':        value       date
 0      100.0 2015-05-03
 1      104.0 2015-05-04
 2      108.1 2015-05-05
 3      112.4 2015-05-06
 4      114.8 2015-05-09
 ...      ...        ...
 1847  4299.1 2022-12-21
 1848  4347.8 2022-12-24
 1849  4441.0 2022-12-25
 1850  4451.2 2022-12-26
 1851  4629.0 2022-12-28

 [1852 rows x 2 columns],
 'قند و شكر':          value       date
 0        347.0 2008-12-05
 1        347.0 2008-12-06
 2        345.5 2008-12-07
 3        345.6 2008-12-08
 4        345.6 2008-12-10
 ...        ...        ...
 3392  127750.0 2022-12-21
 3393  128708.0 2022-12-24
 3394  130816.0 2022-12-25
 3395  134566.0 2022-12-26
 3396  136633.0 2022-12-28

 [3397 rows x 2 columns],
 'مالي':           value       date
 0       22174.1 2008-12-05
 1       22159.7 2008-12-06
 2       22082.5 2008-12-07
 3       21985.8 2008-12-08
 4       21945.2 2008-12-10
 ...         ...        ...
 3392  1447690.0 2022-12-21
 3393  1473680.0 2022-12-24
 3394  1475380.0 2022-12-25
 3395  1473470.0 2022-12-26
 3396  1505930.0 2022-12-28

 [3397 rows x 2 columns],
 'شاخص كل':           value       date
 0        9248.9 2008-12-04
 1        9248.9 2008-12-05
 2        9178.3 2008-12-06
 3        9130.5 2008-12-07
 4        9089.2 2008-12-08
 ...         ...        ...
 3393  1496200.8 2022-12-21
 3394  1538003.2 2022-12-24
 3395  1563567.4 2022-12-25
 3396  1576396.8 2022-12-26
 3397  1647314.5 2022-12-28

 [3398 rows x 2 columns],
 'شاخص كل (هم وزن)':          value       date
 0      10000.0 2014-03-19
 1      10033.6 2014-03-25
 2       9998.3 2014-03-26
 3       9984.4 2014-03-29
 4      10055.5 2014-03-30
 ...        ...        ...
 2114  445721.0 2022-12-21
 2115  456274.0 2022-12-24
 2116  462753.0 2022-12-25
 2117  467054.0 2022-12-26
 2118  480681.0 2022-12-28

 [2119 rows x 2 columns],
 'منسوجات':         value       date
 0       232.0 2008-12-05
 1       232.0 2008-12-06
 2       232.0 2008-12-07
 3       232.0 2008-12-08
 4       232.0 2008-12-10
 ...       ...        ...
 3392  11172.5 2022-12-21
 3393  11182.8 2022-12-24
 3394  11193.4 2022-12-25
 3395  11239.5 2022-12-26
 3396  11422.3 2022-12-28

 [3397 rows x 2 columns],
 'استخراج نفت جزكشف':        value       date
 0      103.0 2009-07-25
 1      106.1 2009-07-26
 2      109.2 2009-07-27
 3      112.4 2009-07-28
 4      115.8 2009-07-29
 ...      ...        ...
 3241  2704.9 2022-12-21
 3242  2797.2 2022-12-24
 3243  2774.0 2022-12-25
 3244  2727.8 2022-12-26
 3245  2875.9 2022-12-28

 [3246 rows x 2 columns],
 'مبلمان':       value       date
 0     154.8 2008-12-05
 1     154.8 2008-12-06
 2     154.8 2008-12-07
 3     154.8 2008-12-08
 4     154.8 2008-12-10
 ...     ...        ...
 3386  272.7 2022-12-24
 3387  272.7 2022-12-25
 3388  272.7 2022-12-26
 3389  272.7 2022-12-28
 3390  272.7 2022-12-31

 [3391 rows x 2 columns],
 'ذغال سنگ':         value       date
 0       191.1 2008-12-05
 1       191.1 2008-12-06
 2       191.1 2008-12-07
 3       191.1 2008-12-08
 4       191.1 2008-12-10
 ...       ...        ...
 3392  40620.7 2022-12-21
 3393  41305.4 2022-12-24
 3394  41042.2 2022-12-25
 3395  42655.2 2022-12-26
 3396  44750.0 2022-12-28

 [3397 rows x 2 columns],
 'زراعت':          value       date
 0        240.7 2008-12-05
 1        240.7 2008-12-06
 2        240.7 2008-12-07
 3        240.7 2008-12-08
 4        240.7 2008-12-10
 ...        ...        ...
 3393  303470.0 2022-12-21
 3394  312681.0 2022-12-24
 3395  311906.0 2022-12-25
 3396  314822.0 2022-12-26
 3397  322921.0 2022-12-28

 [3398 rows x 2 columns],
 'محصولات چرمي':         value       date
 0        72.0 2008-12-05
 1        72.0 2008-12-06
 2        72.0 2008-12-07
 3        72.0 2008-12-08
 4        72.0 2008-12-10
 ...       ...        ...
 3391  20475.8 2022-12-21
 3392  20358.6 2022-12-24
 3393  20514.0 2022-12-25
 3394  20462.1 2022-12-26
 3395  20777.6 2022-12-28

 [3396 rows x 2 columns],
 'بانكها':        value       date
 0      105.2 2008-12-05
 1      105.1 2008-12-06
 2      104.6 2008-12-07
 3      103.9 2008-12-08
 4      103.8 2008-12-10
 ...      ...        ...
 3392  5691.5 2022-12-21
 3393  5864.1 2022-12-24
 3394  5857.6 2022-12-25
 3395  5819.1 2022-12-26
 3396  6017.1 2022-12-28

 [3397 rows x 2 columns],
 'محصولات كاغذ':         value       date
 0      1282.3 2008-12-05
 1      1280.5 2008-12-06
 2      1279.8 2008-12-07
 3      1269.9 2008-12-08
 4      1269.9 2008-12-10
 ...       ...        ...
 3392  60626.5 2022-12-21
 3393  62581.9 2022-12-24
 3394  63063.4 2022-12-25
 3395  63498.8 2022-12-26
 3396  64496.3 2022-12-28

 [3397 rows x 2 columns]}

In [5]:
list_of_files = os.listdir(industry_indices)
to_delete_indices = ["شاخص 30 شركت بزرگ.csv","شاخص آزاد شناور.csv","شاخص بازار اول.csv","شاخص بازار دوم.csv",
             "شاخص بازده نقدي قيمت.csv", "شاخص صنعت.csv", "شاخص قيمت (هم وزن).csv", "شاخص قيمت 50 شركت.csv",
             "شاخص قيمت(وزنيارزشي).csv", "شاخص50شركت فعالتر.csv", "شاخص كل.csv", "شاخص كل (هم وزن).csv"
             ]
defunct_sectors = ["مبلمان.csv", "ابزار پزشكي.csv" , "پيمانكاري.csv"]

In [6]:
sectors_li = [item for item in list_of_files if item not in to_delete_indices]
sectors_li = [item for item in sectors_li if item not in defunct_sectors]

In [7]:
for f in sectors_li:
    data = pd.read_csv(industry_indices+ "\\" + f)
    if len(data) < limit:
        sectors_li.remove(f)
    print(len(data),f)

1451 اداره بازارهاي مالي.csv
1274 اطلاعات و ارتباطات.csv
3397 انتشار و چاپ.csv
3397 بانكها.csv
3192 بيمه و بازنشسته.csv
1852 تامين آب، برق، گاز.csv
929 خرده فروشي به جز وسايل نقليه.csv
3397 دستگاههاي برقي.csv
3397 ذغال سنگ.csv
3397 راديويي.csv
3397 رايانه.csv
3398 زراعت.csv
3397 ساير معادن.csv
3397 سايرمالي.csv
3397 سرمايه گذاريها.csv
3397 سيمان.csv
3398 شيميايي.csv
3397 غذايي بجز قند.csv
3397 فراورده نفتي.csv
3397 فلزات اساسي.csv
3397 فني مهندسي.csv
3397 قند و شكر.csv
3397 كاشي و سراميك.csv
3397 كانه فلزي.csv
3397 كاني غيرفلزي.csv
3397 لاستيك.csv
3397 ماشين آلات.csv
3397 مالي.csv
3397 محصولات فلزي.csv
3397 محصولات كاغذ.csv
3396 محصولات چرمي.csv
3397 محصولات چوبي.csv
3397 منسوجات.csv
3398 مواد دارويي.csv
3397 وسايل ارتباطي.csv
3397 چند رشته اي ص.csv

In [8]:
len(sectors_li)

36

In [9]:
sectors_li[0]

'استخراج نفت جزكشف.csv'

In [130]:
data = pd.read_csv(industry_indices+ "\\" + sectors_li[0])
data['date'] = pd.to_datetime( data['date'],    format='%Y-%m-%d')
data["jdate"] = data["date"].jalali.to_jalali()
data["month"] = data["jdate"].jalali.month
data["year"] = data["jdate"].jalali.year
data["weekday"] = data["jdate"].jalali.weekday
#data.set_index('date' ,inplace=True)
data['value'] = data['value'].pct_change()
data['value'].values[data['value'].values > 0.05] = 0.05
data['value'].values[data['value'].values < -0.05] = -0.05
#weekly_data = data.resample("W").sum()

first_years_month = data["month"][0]
first_year = data["year"][0]
last_years_month = 12
last_year = 1396

empty_li_month = []
empty_li_year = []
for year in range(first_year, last_year + 1):

        if year == first_year:
            empty_li_month += [i for i in range(first_years_month,13)]
            empty_li_year += [year] * (13-first_years_month)

        elif year == last_year:
            empty_li_month += [i for i in range(1,last_years_month+1)]
            empty_li_year += [year] * (last_years_month)

        else:
            empty_li_month += [i for i in range(1,13)]
            empty_li_year += [year] * 12

monthly_data = pd.DataFrame(columns=["return","year","month","return_1m","return_3m","return_6m"])
monthly_data["year"] = empty_li_year
monthly_data["month"] = empty_li_month

for year in range(first_year, last_year + 1):

    if year == first_year:
        for month in range(first_years_month, 13):
            idx = monthly_data[(monthly_data.year == year) & (monthly_data.month == month)].index.item()
            ret = return_calculator(data[(data["month"] == month) & (data["year"] == year)]["value"])
            monthly_data["return"][idx] = ret

    elif year == last_year:
        for month in range(1, last_years_month + 1):
            idx = monthly_data[(monthly_data.year == year) & (monthly_data.month == month)].index.item()
            ret = return_calculator(data[(data["month"] == month) & (data["year"] == year)]["value"])
            monthly_data["return"][idx] = ret

    else:
        for month in range(1, 13):
            idx = monthly_data[(monthly_data.year == year) & (monthly_data.month == month)].index.item()
            ret = return_calculator(data[(data["month"] == month) & (data["year"] == year)]["value"])
            monthly_data["return"][idx] = ret

monthly_data["return"] = monthly_data["return"] * 100
monthly_data["return_1m"] = monthly_data["return"].shift(1)
monthly_data["return_3m"] = monthly_data["return"].shift(3)
monthly_data["return_6m"] = monthly_data["return"].shift(6)
monthly_data = monthly_data.dropna().reset_index()
monthly_data = monthly_data.drop(['index'], axis=1)

C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\611742881.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for day, _ in df.iteritems():
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\152148241.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data["return"][idx] = ret
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\152148241.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data["return"][idx] = ret
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\152148241.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly_data["return"][idx] = ret

In [105]:
sectors_li[0]

'استخراج نفت جزكشف.csv'

In [131]:
index_data = pd.read_csv(industry_indices+ "\\" + "شاخص كل.csv")

index_data['date'] = pd.to_datetime( index_data['date'],    format='%Y-%m-%d')
index_data["jdate"] = index_data["date"].jalali.to_jalali()
index_data["month"] = index_data["jdate"].jalali.month
index_data["year"] = index_data["jdate"].jalali.year
index_data["weekday"] = index_data["jdate"].jalali.weekday
#data.set_index('date' ,inplace=True)
index_data['value'] = index_data['value'].pct_change()
index_data['value'].values[index_data['value'].values > 0.05] = 0.05
index_data['value'].values[index_data['value'].values < -0.05] = -0.05
#weekly_data = data.resample("W").sum()

first_years_month = index_data["month"][0]
first_year = index_data["year"][0]
last_years_month = 12
last_year = 1396

empty_li_month = []
empty_li_year = []
for year in range(first_year, last_year + 1):

        if year == first_year:
            empty_li_month += [i for i in range(first_years_month,13)]
            empty_li_year += [year] * (13-first_years_month)

        elif year == last_year:
            empty_li_month += [i for i in range(1,last_years_month+1)]
            empty_li_year += [year] * (last_years_month)

        else:
            empty_li_month += [i for i in range(1,13)]
            empty_li_year += [year] * 12

index_monthly_data = pd.DataFrame(columns=["index_return","year","month","index_return_1m","index_return_3m","index_return_6m"])
index_monthly_data["year"] = empty_li_year
index_monthly_data["month"] = empty_li_month

for year in range(first_year, last_year + 1):

    if year == first_year:
        for month in range(first_years_month, 13):
            idx = index_monthly_data[(index_monthly_data.year == year) & (index_monthly_data.month == month)].index.item()
            ret = return_calculator(index_data[(index_data["month"] == month) & (index_data["year"] == year)]["value"])
            index_monthly_data["index_return"][idx] = ret

    elif year == last_year:
        for month in range(1, last_years_month + 1):
            idx = index_monthly_data[(index_monthly_data.year == year) & (index_monthly_data.month == month)].index.item()
            ret = return_calculator(index_data[(index_data["month"] == month) & (index_data["year"] == year)]["value"])
            index_monthly_data["index_return"][idx] = ret

    else:
        for month in range(1, 13):
            idx = index_monthly_data[(index_monthly_data.year == year) & (index_monthly_data.month == month)].index.item()
            ret = return_calculator(index_data[(index_data["month"] == month) & (index_data["year"] == year)]["value"])
            index_monthly_data["index_return"][idx] = ret

index_monthly_data["index_return"] = index_monthly_data["index_return"] * 100
index_monthly_data["index_return_1m"] = index_monthly_data["index_return"].shift(1)
index_monthly_data["index_return_3m"] = index_monthly_data["index_return"].shift(3)
index_monthly_data["index_return_6m"] = index_monthly_data["index_return"].shift(6)
index_monthly_data = index_monthly_data.dropna().reset_index()
index_monthly_data = index_monthly_data.drop(['index'], axis=1)

C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\611742881.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for day, _ in df.iteritems():
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\3988837126.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index_monthly_data["index_return"][idx] = ret
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\3988837126.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index_monthly_data["index_return"][idx] = ret
C:\Users\Amin\AppData\Local\Temp\ipykernel_5068\3988837126.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index_monthly_data["index_return"][idx] = ret

In [113]:
index_data.to_csv("test.csv")

In [118]:
monthly_data

    index       return  year  month    return_1m    return_3m    return_6m
0       6  -457.368718  1388     11   675.105485          0.0  4116.504854
1       7  1048.638132  1388     12  -457.368718 -1882.805219   752.621838
2       8   681.458003  1389      1  1048.638132   675.105485  2301.204819
3       9   974.282888  1389      2   681.458003  -457.368718          0.0
4      10 -1744.028842  1389      3   974.282888  1048.638132 -1882.805219
..    ...          ...   ...    ...          ...          ...          ...
93     99   -27.118644  1396      8  -438.634399          0.0  -769.440655
94    100   539.315658  1396      9   -27.118644  -1486.05732  -1009.45906
95    101 -1582.455386  1396     10   539.315658  -438.634399   -73.976656
96    102  -828.448584  1396     11 -1582.455386   -27.118644          0.0
97    103 -1179.132286  1396     12  -828.448584   539.315658  -1486.05732

[98 rows x 7 columns]

In [117]:
index_monthly_data

     index       return  year  month    return_1m   return_3m   return_6m
0        6   286.196783  1388      3   675.585919  -489.57811 -423.617944
1        7   284.930442  1388      4   286.196783  583.317643    -439.986
2        8  1085.043372  1388      5   284.930442  675.585919 -107.234806
3        9   834.312344  1388      6  1085.043372  286.196783  -489.57811
4       10   606.717887  1388      7   834.312344  284.930442  583.317643
..     ...          ...   ...    ...          ...         ...         ...
101    107   265.309285  1396      8    75.543097  210.931341  323.274602
102    108   758.550306  1396      9   265.309285  419.970767 -302.707097
103    109   346.419066  1396     10   758.550306   75.543097  245.706549
104    110   -67.670406  1396     11   346.419066  265.309285  210.931341
105    111  -189.366114  1396     12   -67.670406  758.550306  419.970767

[106 rows x 7 columns]

In [132]:
merged_data = monthly_data.merge(index_monthly_data, on=["month","year"])

In [133]:
merged_data["month_return"] = merged_data["return"] - merged_data["index_return"]
merged_data["1month_return"] = merged_data["return_1m"] - merged_data["index_return_1m"]
merged_data["3month_return"] = merged_data["return_3m"] - merged_data["index_return_3m"]
merged_data["6month_return"] = merged_data["return_6m"] - merged_data["index_return_6m"]

In [138]:
merged_data["1m_3m"] = 1/(1 + np.exp(-x))

TypeError: loop of ufunc does not support argument 0 of type float which has no callable exp method